<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DailyDash-(password reset)</title>
</head>

<body>
    <h1>Daily Dash</h1>
    <h3>Hello, <strong>
            <%=firstName%>
                <%=lastName%>
        </strong>
        <br />
    </h3>
    <p>
        We noticed a login to your
        account from a new device.
        If this was not you, please take immediate action to secure your account.
    </p>
    <a href="<%=link%>">Block</a>
</body>

</html>