<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DailyDash-(password reset)</title>
</head>

<body>
    <h3>Daily Dash</h3>
    <p>This mail is to re-set password <strong><%= email%></strong></p>
    <a href="<%=link%>">Click here....
    </a>
</body>

</html>